<& /Admin/Elements/Header, Title => $title &>
<& /Admin/Elements/QueueTabs, id => $QueueObj->id, 
    QueueObj => $QueueObj,
    current_tab => 'Admin/Queues/NotificationMatrix.html?id='.$id,
    Title => $title &>

<form method="post">
Find User defined groups:
<input name="GroupString" value="<% $GroupString %>">
<& /Elements/Submit, Name => "Save", Label => loc('Search') &>

</form>

% if ($UserGroups) {
<form method="post">
<input type="hidden" name="SelectUserGroup" value="1">

% while (my $Group = $UserGroups->Next()) {
  <input type="checkbox" name="SelectUserGroup-<% $Group->Id %>"><% $Group->SelfDescription %><br>
% }
<& /Elements/Submit, Name => "Save", Label => loc('Subscribe to Queue notification') &>

% }

</form>

<form method="post">
<input type="hidden" name="SetMatrix" value="1">
<table class="notification-matrix">
<tr>
<th>\</th>
% for my $Group (@groups) {
  <th><% $Group->SelfDescription %></th>
% }
</tr>
% for my $action (@actions) {
<tr>
<th><% $action %></th>
%   for my $Group (@groups) {
<td><input type="checkbox" name="NM-<% $action %>-<% $Group->Id %>" <% $matrix_hash->{$action}{$Group->Id} ? 'checked' : '' %> />
</td>
%   }
</tr>
% }

</table>
<& /Elements/Submit, Name => "Save", Label => loc('Save Changes') &>
</form>
<%init>

my $QueueObj = RT::Queue->new($session{'CurrentUser'});
$QueueObj->Load($id);

my $title;

if ($QueueObj->id) {
    $title = loc("Modify notification matrix for queue [_1]", $QueueObj->Name);
} else {
    Abort(loc("Queue [_1] not found",$id));
}

my $Groups = RT::Groups->new($session{'CurrentUser'});
$Groups->LimitToRolesForQueue($QueueObj->Id);

my @groups = @{ $Groups->ItemsArrayRef };

my @actions = qw(TicketCreated TicketCommented TicketTaken TicketResolved QueueChanged);

my $matrix;
my $UserGroups;
if ($GroupString) {
    $UserGroups = RT::Groups->new($session{'CurrentUser'});
    $UserGroups->Limit(FIELD => 'Domain', OPERATOR => '=', VALUE => 'UserDefined');
    $UserGroups->Limit(FIELD => 'Name',
                       VALUE => $GroupString,
                       OPERATOR => 'LIKE');
}

if ($ARGS{SelectUserGroup}) {
    for (map { s/SelectUserGroup-// ? $_ : () } keys %ARGS) {
        my $group = RT::Group->new($session{'CurrentUser'});
        $group->LoadUserDefinedGroup($_);
        push @groups, $group if $group->Id;
    }
}

if ($ARGS{SetMatrix}) {
    for my $action (@actions) {
        # XXX: move this to some api and do permission check
        $matrix->{$action} = [ map { s/NM-\Q$action\E-// ? $_ : () } keys %ARGS ];
    }
    $QueueObj->SetAttribute(Name => 'NotificationMatrix', Description => 'Notification Matrix Internal Data', Content => $matrix);
}
else {
    my $attr = $QueueObj->FirstAttribute('NotificationMatrix');
    $matrix = $attr ? $attr->Content : {};
}

my $group_hash = { map { $_->Id => 1 } @groups };
my $matrix_hash = { map { $_ => { map { $_ => 1 } @{$matrix->{$_}} } } keys %$matrix };

use List::MoreUtils qw(uniq);


for (uniq map { @{$matrix->{$_}} } keys %$matrix) {
    unless ($group_hash->{$_}) {
        my $group = RT::Group->new($session{'CurrentUser'});
        $group->LoadUserDefinedGroup($_);
        push @groups, $group if $group->Id;
    }
}

</%init>
<%args>
$id => 1         #some identifier that a Queue could 
$GroupString => ''
</%args>
