<& /Admin/Elements/Header, Title => $title &>
<& /Admin/Elements/QueueTabs, id => $QueueObj->id, 
    QueueObj => $QueueObj,
    current_tab => 'Admin/Queues/NotificationMatrix.html?id='.$id,
    Title => $title &>

<style type="text/css" media="screen">
table.notification-matrix tr.sep {
  border: 0 0 1 0 #000000 solid;
}

table.notification-matrix tr.group-type th {
  width: 10em;
}

table.notification-matrix th.action {
  text-align: left;
}

table.notification-matrix th.group-item {
  text-align: center;
  width: 5em;
}

table.notification-matrix td {
  text-align: center;
}

</style>

<form method="post">
Find User defined groups:
<input name="GroupString" value="<% $ARGS{GroupString} || '' %>">
<& /Elements/Submit, Name => "Search", Label => loc('Search') &>
<& /Elements/Submit, Name => "ListAll", Label => loc('List All') &>

</form>

% if ($UserGroups) {
<form method="post">
<input type="hidden" name="SelectUserGroup" value="1">

% while (my $Group = $UserGroups->Next()) {
  <input type="checkbox" name="SelectUserGroup-<% $Group->Id %>"><% $Group->SelfDescription %><br>
% }
% if ($UserGroups->Count) {
<& /Elements/Submit, Name => "Save", Label => loc('Subscribe selected queue for notification') &>
% }
% else {
<h2>No groups matching '<% $ARGS{'GroupString'} %>' found</h2>
% }
</form>
% }

<p>
Notifications for this queue will be sent to people in the groups or roles checked with the "inclusion" button, minus those found in the groups or roles checked with the "exclusion" button.
</p>
<p>
To unselect, double click the button.
</p>

<form method="post">
<input type="hidden" name="SetMatrix" value="1">
<table class="notification-matrix">
<tr class="group-type">
<th></th>
<th colspan="<% 2 *scalar @groups %>"><&|/l&>Ticket Roles</&></th>
% if (@user_groups) {
<th colspan="<% 2 * scalar @user_groups %>"><&|/l&>User Defined Groups</&></th>
% }
</tr>
<tr class="sep">
<th></th>
% for my $Group (@groups, @user_groups) {
  <th class="group-item" colspan="2"><% $Group->Domain eq 'UserDefined' ? $Group->Name : $Group->Type %></th>
% }
</tr>
<tr class="sep">
<th></th>
% for my $Group (@groups, @user_groups) {
  <th class="group-item">Inc</th>
  <th class="group-item">Exc</th>
% }
</tr>
% for my $action (@actions) {
<tr>
<th class="action"><% ("RT::Extension::NotificationMatrix::Rule::".$action)->Description %></th>
%   for my $Group (@groups, @user_groups) {
<td>
<input type="radio" name="NM-<% $action %>-<% $Group->Id %>" ondblclick="if(this.checked) this.checked=false" value="include" <% $matrix_hash->{$action}{$Group->Id} ? 'checked' : '' %> />
</td>
<td>
<input type="radio" name="NM-<% $action %>-<% $Group->Id %>" ondblclick="if(this.checked) this.checked=false" value="exclude" <% $matrix_hash->{$action}{-$Group->Id} ? 'checked' : '' %> />
</td>
%   }
</tr>
% }

</table>
<& /Elements/Submit, Name => "Save", Label => loc('Save Changes') &>
</form>
<%init>

my $QueueObj = RT::Queue->new($session{'CurrentUser'});
$QueueObj->Load($id);

my $title;

if ($QueueObj->id) {
    $title = loc("Modify notification matrix for queue [_1]", $QueueObj->Name);
} else {
    Abort(loc("Queue [_1] not found",$id));
}

my $Groups = RT::Groups->new($session{'CurrentUser'});
$Groups->LimitToRolesForQueue($QueueObj->Id);

my @groups = @{ $Groups->ItemsArrayRef };
my @user_groups;
my @actions = qw(TicketCreated TicketCommented TicketTaken TicketResolved TicketUpdatedExternally QueueChanged);
my $matrix;
my $UserGroups;
if (exists $ARGS{'GroupString'}) {
    $UserGroups = RT::Groups->new($session{'CurrentUser'});
    $UserGroups->Limit(FIELD => 'Domain', OPERATOR => '=', VALUE => 'UserDefined');
    if (!$ARGS{'ListAll'}) {
        $UserGroups->Limit(FIELD => 'Domain', OPERATOR => '=', VALUE => 'UserDefined');
        $UserGroups->Limit(FIELD => 'Name',
                           VALUE => $ARGS{'GroupString'},
                           OPERATOR => 'LIKE');
    }
}

if ($ARGS{SelectUserGroup}) {
    for (map { s/SelectUserGroup-// ? $_ : () } keys %ARGS) {
        my $group = RT::Group->new($session{'CurrentUser'});
        $group->LoadUserDefinedGroup($_);
        push @user_groups, $group if $group->Id;
    }
}

if ($ARGS{SetMatrix}) {
    for my $action (@actions) {
        # XXX: move this to some api and do permission check
        $matrix->{$action} = [ map { $ARGS{"NM-$action-$_"} eq 'include' ? $_ : -$_ }
                               map { s/NM-\Q$action\E-// ? $_ : () } keys %ARGS ]
    }
    $QueueObj->SetAttribute(Name => 'NotificationMatrix', Description => 'Notification Matrix Internal Data', Content => $matrix);
}
else {
    $matrix = RT::Extension::NotificationMatrix->get_queue_matrix($QueueObj);
}

my $group_hash = { map { $_->Id => 1 } @groups };
my $matrix_hash = { map { $_ => { map { $_ => 1 } @{$matrix->{$_}} } } keys %$matrix };

use List::MoreUtils qw(uniq);

for (uniq map { abs($_) } map { @{$matrix->{$_}} } keys %$matrix) {
    unless ($group_hash->{$_}) {
        my $group = RT::Group->new($session{'CurrentUser'});
        $group->LoadUserDefinedGroup($_);
        push @user_groups, $group if $group->Id;
    }
}

</%init>
<%args>
$id => 1         #some identifier that a Queue could 
</%args>
